In [11]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import when

In [2]:
spark = SparkSession.builder.master("local[*]").appName("Test").getOrCreate()

In [4]:
df = spark.read.csv("adult1.csv", header = True)

In [5]:
df.show(5)

+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------------+
|age|        workclass|fnlwgt| education|education_num|     marital_status|        occupation|  relationship|  race|    sex|capital_gain|capital_loss|hours_per_week|native_country|income_class|
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------------+
| 39|        State-gov| 77516| Bachelors|           13|      Never-married|      Adm-clerical| Not-in-family| White|   Male|        2174|           0|            40| United-States|       <=50K|
| 50| Self-emp-not-inc| 83311| Bachelors|           13| Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|           0|           0|            13| United-States|       <=50K|
| 38|          Private|215646|   HS-grad|            9|           Divorced| Handlers-cleaners| Not-in-family| White|   Male|           0|           0|            40| United-States|       <=50K|
| 53|          Private|234721|      11th|            7| Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|           0|           0|            40| United-States|       <=50K|
| 28|          Private|338409| Bachelors|           13| Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|           0|           0|            40|          Cuba|       <=50K|
+---+-----------------+------+----------+-------------+-------------------+------------------+--------------+------+-------+------------+------------+--------------+--------------+------------+
only showing top 5 rows

In [6]:
df.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education_num',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'income_class']

In [8]:
df.select("capital_gain").show()

+------------+
|capital_gain|
+------------+
|        2174|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|       14084|
|        5178|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
+------------+
only showing top 20 rows

In [16]:
#1-create a new column, called `capital-status`, that has the value `gain` if the value of the column `capital-gain` 
#is greater than 0 and `loss` otherwise
df = df.withColumn("Capital_status", when(df["capital_gain"] > 0 , "gain").otherwise("loss"))

In [18]:
df.select("age", "occupation", "capital_gain", "Capital_status").show()

+---+------------------+------------+--------------+
|age|        occupation|capital_gain|Capital_status|
+---+------------------+------------+--------------+
| 39|      Adm-clerical|        2174|          gain|
| 50|   Exec-managerial|           0|          loss|
| 38| Handlers-cleaners|           0|          loss|
| 53| Handlers-cleaners|           0|          loss|
| 28|    Prof-specialty|           0|          loss|
| 37|   Exec-managerial|           0|          loss|
| 49|     Other-service|           0|          loss|
| 52|   Exec-managerial|           0|          loss|
| 31|    Prof-specialty|       14084|          gain|
| 42|   Exec-managerial|        5178|          gain|
| 37|   Exec-managerial|           0|          loss|
| 30|    Prof-specialty|           0|          loss|
| 23|      Adm-clerical|           0|          loss|
| 32|             Sales|           0|          loss|
| 40|      Craft-repair|           0|          loss|
| 34|  Transport-moving|           0|          loss|
| 25|   Farming-fishing|           0|          loss|
| 32| Machine-op-inspct|           0|          loss|
| 38|             Sales|           0|          loss|
| 43|   Exec-managerial|           0|          loss|
+---+------------------+------------+--------------+
only showing top 20 rows